services:
  app:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: nginx-proxy-manager
    restart: always
    ports:
      - '80:80' # Public HTTP Port
      - '443:443' # Public HTTPS Port
      - '81:81' # Admin Web Port
    volumes:
      - {{ docker_storage_mount_point }}/nginx-proxy-manager/nginx-data:/data
      - {{ docker_storage_mount_point }}/nginx-proxy-manager/nginx-letsencrypt:/etc/letsencrypt
